---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---
<h1>Bienvenue</h1>
Je suis Guillaume.<br><br>

Je suis un développeur web et musicien vivant actuellement à Lyon. Cela fait plus de 16 ans que je construit des sites internet, avec un focus tout particulier sur les sites de contenus à fort traffic, pour des clients tels qu'Amnesty International, UNESCO, BMW, Biomérieux.<br><br>

Je travaille actuellement en freelance. Mon champ d'action est vaste, mais je me spécialise notamment sur Drupal (certifié Acquia) et Wordpress, que cela soit sur la partie back, front ou devops.<br><br>

Autonome, rigoureux et bon communicant, j’ai accompagné de nombreuses équipes techniques et échange facilement avec tout les métiers du web.
